<div class="container">
  <!-- buttons -->
  <div class="buttonContainer">
    <div id="btn1" class="btn btn1">Why BCCO</div>
    <div id='btn2' class="btn">Process</div>
    <div id='btn3' class="btn">Donations</div>
    <div id='btn4' class="btn btn4">Provided Items</div>
  </div>
  <div></div>
</div>

<style>
  .buttonContainer{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
  }
  .btn1{
    border-radius: 10px 0 0 10px;
  }
  .btn4{
    border-radius: 0 10px 10px 0;
  }
  .btn {
    text-align: center;
    background-color: cyan;
    width: 25%;
    padding: 1.5rem 1rem;
  }
  .btn:hover{
    background-color: cornsilk;
  }
  .activeBtn{
    background-color: cornsilk;
  }
</style>

<script>
  jQuery('.buttonContainer').on('click', 'div.btn', function(e){
    jQuery(this).addClass('activeBtn').siblings().removeClass('activeBtn');

  })
</script>
