<div class="container">
  <!-- buttons -->
  <div class="buttonContainer">
    <div id="btn1" class="btn btn1 activeBtn" >Why BCCO</div>
    <div id='btn2' class="btn" >Process</div>
    <div id='btn3' class="btn" >Donations</div>
    <div id='btn4' class="btn btn4">Provided Items</div>
  </div>
  <div class="aboutText activeText" id="text1">
    BCCO NYC is one of the highest rated print shops in the Tri-State area.  When you choose to work with BCCO NYC we offer so much more than typical online printing companies. We pride ourselves on being able to work with our clients to bring their designs to life. We are dedicated to taking as much time as you need to make sure we answer all of your questions and iron out all details of your project.
    <br /><br />
    With limited exceptions, every order placed with us has a pre-production sample made. We will send you a high-resolution photo of the final product and give you the option to either come in to approve in person, or have it shipped to you. This ensures we exceed your expectations on every order you place with us. We highly recommend you approve a physical sample, however, if for any reason you wish to approve your sample based solely on the photo we send, we are happy to move forward as soon as we receive your approval. We also offer comprehensive rush-printing services, which includes same-day fulfillment. 
    <br /><br />
    Here at BCCO NYC we have mastered the art of bringing ideas to life. We are experts in screen printing, embroidery, and vinyl printing. In addition, we have spent years perfecting the science of direct to garment printing and are considered one the the premier DTG providers in New York.
    <br /><br />
    Our main focus is to provide superb concierge service to career designers and those who are  looking for a one time print experience. We will work with materials provided by you, or supply the garments from one of our many approved suppliers.
    <br /><br />
    Unfortunately due to COVID-19 we can not offer in person consultations at this time. Please fill out our quote form to get a quote for your request. If you wish to set up a phone consultation, we will be happy to accommodate you.  </div>
  <div class="aboutText" id="text2">
    As a high-end boutique custom print shop we are here to make sure that you have the best possible interaction with our team and that you receive the highest quality product possible. Getting started with BCCO NYC is simple and easy!
    <br /><br />
    We welcome you to give us a call to discuss all the details of your project. Once we answer any questions you may have, you will be directed to the quote form that is available online. This is where you can lay out all of the information we need to build your quote. 
    <br /><br />
    Any form that is submitted before 5:00 PM will receive a same-day response. All quote requests received after this time will be answered the following business day.
    <br /><br />
    If you have any questions about the quote form or would like assistance as you fill it out please feel free to give us a call and we will happily walk you through it.  
    <br /><br />
    We will then email you to confirm the details of your request and provide you with pricing. We will ask you to confirm the price quote before moving forward. Once confirmed we will build you an invoice. All invoices must be paid in full before we start your project. 
    <br /><br />
    We will then send you a mock up for your approval. Mock ups are digital representations of your design and are not necessarily to scale. All mockups will have written specifications that our production team will follow. We will never start production on an order until we receive your approval.
    <br /><br />
    Once approval is received, a first run sample is made. With limited exceptions, we will render a pre-production sample for your order. We will send you a high-resolution photo of the sample and give you the option to either come in and approve it in person, or have it shipped to you. We do this to make sure that we exceed your expectations on every order you place with us. We highly recommend you approve a physical sample, however, if for any reason you wish to approve your sample based solely on the photo we send, we are happy to move forward as soon as you give us the okay. Rush orders notwithstanding, turnaround time will start once sample approval is confirmed.  
    <br /><br />
    We will notify you as soon as your order is ready for pick up. If your order gets shipping we will send you the tracking information as soon as it is available. 
    <br /><br />
    If you have any questions about the order process here at BCCO NYC please feel free to give us a call! 
  </div>
  <div class="aboutText" id="text3">
    While it is our business to do everything we can to remain one of the finest print shops in the tri-state area, we also take our corporate social responsibility very seriously. As a responsible company we do everything we can to give back to the community.
    <br /><br />
    As is stated in our terms and conditions ” BCCO NYC is not responsible for items left on our premises for more than 45 days. After this period of time, unclaimed goods are subject to donation.”
    <br /><br />
    Throughout the year BCCO collects and donates unclaimed or unwanted garments to  various charities. Below please find the links to some of our charity partners. We encourage you to donate!
    <br /><br />
    <div class="partners">
      <div class="partner">
        <img class="partnerLogo" src="https://static.wixstatic.com/media/157302_4e30d4b7f0c244648a2c50679a615c15~mv2.jpg/v1/fill/w_188,h_196,al_c,q_80,usm_0.66_1.00_0.01/EMMAUS%20LOGO_JPG.webp" alt="" />
        <a href="https://www.emmaushouse-harlem.org/volunteering">Emmaus Hause</a>
      </div>
      <div class="partner">
        <img class="partnerLogo" src="https://www.salvationarmyusa.org/templates/usa_nhq_symphony/static_resources/images/global/shield.svg" alt="" />
        <a href="https://www.salvationarmyusa.org/usn/ways-to-give/">Salvation Army</a>
      </div>
      <div class="partner">
        <a href="http://www.churchofthemediator.org/donate.html">Church of the Mediator</a>
      </div>
    </div>
  </div>
  <div class="aboutText" id="text4">
    At BCCO we are dedicated to making sure we deliver our clients the products they want. While we encourage people to order their garments through one of our trusted vendors, we are happy to work with items provided by the clients themselves. We do not print on used, soiled or damaged items.
    <br /><br />
    If you do choose to provide your own items we will set up a time for you to drop them off in our lobby or provide you with shipping instructions. To ensure your items are properly received, we require that the materials be boxed or bagged and labeled with the following information: 
    <br />
              <div class="dropInfo">
                <p>To: BCCO NYC</p>
                <p>ATTN: Your Name</p>
                <p>Invoice number:</p>
                <p>Contact information:</p>
              </div>
      <br />
    With any form of printing there is a degree of risk. We do everything in our power to mitigate those risks, and have a near perfect success rate, but on the off-chance an error occurs, BCCO NYC is not responsible for any damages or disfigurations that might occur during the printing process. 
    <br /><br />
    If you have any questions regarding our provided items policy, we encourage you to reach out to us. We are happy to answer any and all questions!
  </div>
</div>

<style>
  .buttonContainer{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
  }
  .btn1{
    border-radius: 10px 0 0 10px;
  }
  .btn4{
    border-radius: 0 10px 10px 0;
  }
  .btn {
    text-align: center;
    background-color: rgba(28, 61, 243, 1);
    border: 1px solid rgba(28, 61, 243, 1);
    color: white;
    width: 25%;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
  }
  .btn:hover{
    background-color: transparent;
    border: 1px solid rgba(28, 61, 243, 1);
    color: black;
    box-sizing: border-box;
  }
  .activeBtn{
    background-color: transparent;
    border: 1px solid  rgba(28, 61, 243, 1);
    color: black;
    box-sizing: border-box;
  }
  .aboutText{
    margin-top: 25px;
    display: none;
  }
  .activeText{
    display:block;
  }
  .dropInfo{
    text-align: center;
  }
  .partners{
    text-align: center;
  }
  .partner{
    margin-bottom: 15px;
  }
  .partnerLogo{
    width: 75px;
    height: 75px;
  }
</style>

<script>
  jQuery('.buttonContainer').on('click', 'div.btn', function(e){
    jQuery(this).addClass('activeBtn').siblings().removeClass('activeBtn');
    console.log(e.target.id)
    switch(e.target.id) {
      case "btn1":
        jQuery("#text1").addClass('activeText').siblings().removeClass('activeText');
        break;
      case "btn2":
        jQuery("#text2").addClass('activeText').siblings().removeClass('activeText');
        break;
      case "btn3":
        jQuery("#text3").addClass('activeText').siblings().removeClass('activeText');
        break;
      case "btn4":
        jQuery("#text4").addClass('activeText').siblings().removeClass('activeText');
        break;
      default:
        jQuery("#text1").addClass('activeText').siblings().removeClass('activeText');
    }
  })
</script>
