{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{% assign links = site.pages | sort: 'position'  %}

<div class="Footer-wrapper">

    <div class="Footer">

      <div class="Grid Grid--cols-4">

        <div class="Grid-cell">
          <div class="Footer-content-1">
            <h2>Contact</h2>
            <h3>{{ site.email }}</h3>
            <h3>(347) 836-9116</h3>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="Footer-content-2">
            <h2>Locations</h2>
            <h3>ED SULLIVAN OFFICE BUILDING
              1697 BROADWAY, SUITE 302, NY, NY 10019</h3>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="Footer-content-3">
            <h2>Social</h2>
            <div class="getintouchcontent">
              <a href="https://www.facebook.com/BccoNyc/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/bcconyc/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="Footer-content-4">
            {%- if page_paths -%}
            <h2>Links</h2>
            <ul>
              {%- for link in links -%}
                  {%- if link.title -%}
                      <li><a class="page-link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
                  {%- endif -%}
              {%- endfor -%}
            </ul>
            {%- endif -%}

          </div>
        </div>

      </div>

    </div>

  </div>