<div class="modal">
  <div class="modal-content">
    <p>We've Moved!</p>
    <p>You can now find us at </p>
    <a href="http://bcconyc.deco-apparel.com">bcconyc.deco-apparel.com</a>
  </div>
</div>


<style>

 .modal{
  display: block;
  position: fixed;
  z-index: 1100; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(242, 240, 240); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.661); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 25px;
  background-color: #eeecece9;
  box-shadow: 0 0 10px 5px rgba(28, 61, 243, 1);
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    margin: 15% auto;
    vertical-align: middle;
    border: 1px solid #000000f9;
    width: 25%;
    height: 25%;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

</style>