<div class="container">
  <div class="services-nav">
      <div class="nav-option">1</div>
      <div class="nav-option">2</div>
      <div class="nav-option">3</div>
      <div class="nav-option">4</div>
      <div class="nav-option">5</div>
      <div class="nav-option">6</div>
      <div class="nav-option">7</div>
      <div class="nav-option">8</div>
  </div>
  <div class="services-container">
    <div class="service" id="screenPrint">
      <h1>Traditional Screen Printing</h1>
      <div class="service-info">
        <div class="service-text">
          Traditional Screen Printing is a print method that uses a plastisol ink to paint your design on a garment. A design is broken down into separate colors representing different screens. Ink is applied and physically pushed through the screen onto the garment.
          </br></br>
          This is a high quality process that is meant for designs with solid colors. The maximum amount of colors we offer for this method is 6, and it can be applied to any desired print location with the exception of going over seams.
          </br></br>
          The largest pallet we use for this method is 16x18 inches and can accommodate designs that fit within that space. 
          </br></br>
          Printing across areas, such as front-to-sleeve can not be achieved with this method. 
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments to do on our end; every detail in the provided design is to be printed. For traditional screen printing, the best format for a print ready file is an expanded Adobe Illustrator vector file. 
          </br></br>
          The minimum order for screen printing is 12 units per screen.
          </br></br>
          Examples of BCCO Screen Printing Prints:
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    
    <div class="service" id="dtg">
      <h1>DTG</h1>
      <div class="service-info">
        <div class="service-text">
          Direct to garment printing is a high quality digital print method that is essentially a giant computer printer, but instead printing on paper, it prints on garments. This process is best for complex designs with lots of different color tones or fine details, such as a photograph. 
          </br></br>
          The process for DTG starts with treating the garment with a solution that helps the ink to adhere. This will sometimes leave a residue that will wash out after the first washing of the item. 
          </br></br>
          DTG uses a water based ink that absorbs into the cotton of an item. This gives the feel of the print being in the garment rather than on the garment. For this reason DTG is best suited for items with a high cotton content. 100% cotton will yield the best results. We can produce high quality prints on anything that is a minimum of 50% cotton. 
          </br></br>
          There are 4 pallet sizes that we use. All pallets have a ¼ inch no print zone around the perimeter making our maximum print sizes for each pallet ½  inch smaller than the pallet size. 
          The pallets:
          <ul>
            <li>7x8- this most often used for infant/toddler sized garments</li>
            <li>10x12- this yields the highest quality hoodie front prints, and is used for youth sized shirts</li>
            <li>14x16- This is our standard pallet for garments</li>
            <li>16x18- This is our largest pallet and it is used for oversized prints</li>
          </ul>
          This method is not meant for sleeves, hoods, pants or hats but for areas that can fit seamlessly on the pallets. Printing across areas, such as front-to-sleeve can not be achieved with this method. 
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments  to do on our end; every detail in the provided design is to be printed. For DTG printing, the best format for a print ready file is a high resolution (at least 300 DPI) png on a transparent background, that is cropped to the edges of the design. 
          </br></br>
          There are  no minimums for DTG Printing. 
          </br></br>
          Examples of BCCO DTG Prints:
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="heat">
      <h1>Heat Transfer</h1>
      <div class="service-info">
        <div class="service-text">
          This method uses traditional silk screening to print a design onto heat transfer paper which is then heat pressed onto garments. Since this method uses heat press application,  it will have a flatter, less texualized look than traditional screen printing. 
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments to do on our end; every detail in the provided design is to be printed. For traditional screen printing, the best format for a print ready file is an expanded Adobe Illustrator vector file. 
          </br></br>
          The minimum order for screen printing is 12 units.
          </br></br>
          Examples of BCCO Screen transfer Prints:
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="tags">
      <h1>Tag Services</h1>
      <div class="service-info">
        <div class="service-text">
          We offer tagging services that allow you to put the finishing touch on your design. Inside neck tags can be done via screen printing, vinyl or DTG. This aspect of production is overlooked all too often, and can be the breaking point for a brand destined for success.
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments  to do on our end; every detail in the provided design is to be printed. For tags, the best formats for a print ready file are expanded Adobe Illustrator vector files
          </br></br>
          Photos of vinyl tags
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="sticker">
      <h1>Sticker Printing</h1>
      <div class="service-info">
        <div class="service-text">
          One of the best ways to promote a brand is a clean cut sticker. We print high quality stickers offering gloss and matte finishes for all your sticker needs.
          </br></br>
          We only require a minimum of 50 stickers to begin an order! And remember, everyone loves a good sticker.
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments  to do on our end; every detail in the provided design is to be printed. For sticker printing, the best formats for a print ready file are expanded Adobe Illustrator vector files or high resolution PSD files.
          </br></br>
          The minimum for stickers is 50 stickers. 
          </br></br>
          For examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="embroidery">
      <h1>Embroidery</h1>
      <div class="service-info">
        <div class="service-text">
          Embroidery is the art of decorating fabric or other materials using a needle to apply thread. Garments are placed on to a hoop compatible with the embroidery machine and a backing is used to ensure that the stitching comes out perfectly and durably.    
          </br></br>
          We offer various types of embroidery including 3D "puff" embroidery, normal embroidery, athletic "tackle twill", as well as patches of any size and design.
          </br></br>
          3D puff is a method that produces a raised effect. This is much like raised logos on baseball hats. This method is best for simple, single color designs. 
          </br></br>
          Normal embroidery is your standard stitching on garments, or flat designs for hats. 
          </br></br>
          Athletic “tackle twill”  is an extremely durable laser cut embroidery method where custom patches are sewn on to fabric. This method is perfect for Jersey-style numbers or letters, but is also customizable for any design.   
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br> 
          What do we mean by print ready? This means that we should have no editing or adjustments  to do on our end; every detail in the provided design is to be printed. For embroidery printing, the best format for a print ready file is a high resolution (at least 300 DPI) png on a transparent background, that is cropped to the edges of the design. 
          </br></br>
          There are no  minimums for embroidery. 
          </br></br>
          Photos of 3D PUFF
          
          Photos of Normal 
          
          Photos of Tackle twill
          
          Photos of EMB Backing
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="graphic">
      <h1>Graphic Design</h1>
      <div class="service-info">
        <div class="service-text">
          Need artwork? Our graphic design team is highly experienced at turning your ideas into reality! Utilizing programs such as Adobe Photoshop, Illustrator, and InDesign, we are here to help you create quality artwork that you will make you stand out in today's fast paced society. 
          </br></br>
          Our team will talk to you over the phone and through email to make sure that we get your design perfect. Once we have an outline of your design we will provide a draft for your comments as soon as possible. We will work with you through as many edits as necessary to achieve the design you want.           
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
    <div class="service" id="patch">
      <h1>Patches</h1>
      <div class="service-info">
        <div class="service-text">
          Custom patches are one of the finest forms of embroidery. Patches are excellent for outerwear such as uniforms, button down jackets, hats, as well as many other garments.
          </br></br>
          Designs are embroidered on to twill, cut out and then sewn on to your garment of choice! 
          </br></br>
          There is no minimum or maximum for patch orders, and we guarantee you will love our work.
          </br></br>
          If a client is not using our graphic design team for art assistance, we ask that all designs be sent to us as print ready files. 
          </br></br>
          What do we mean by print ready? This means that we should have no editing or adjustments  to do on our end; every detail in the provided design is to be printed. For patch work, the best format for a print ready file is a high resolution (at least 300 DPI) png on a transparent background, that is cropped to the edges of the design. 
          </br></br>
          Photos of patches
          </br></br>
          For more examples please check out our instagram!
        </div>
        <div class="service-photos">
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
            <img src="https://coursehorse.imgix.net/images/course/957/main/gowanus_print_lab_55bd4fa07be5e.png?auto=format%2Cenhance%2Ccompress&crop=entropy&fit=crop&h=220&ixlib=php-1.2.1&q=90&w=330" alt=""/>
        </div>
      </div>
    </div>
  </div>
  
</div>

<style>
  .container{
    display: flex;
  }
  .services-nav{
    width: 10%;
    position: fixed;
    display: none;
    z-index: 1000;
    bottom: 40%;
  }
  .services-container{
    width: 90%;
    margin-left: 15%;
  }
  .service{
    margin-bottom: 100px;
  }
  .service-text{
    width: 70%;
  }
  .service-info{
    display:flex;
  }
  .service-photos{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
  }
  .service-photos img{
    width: 80%;
    margin-bottom: 40px;
  }
</style>

<script>
   $(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 300 && y < 6200) {
    $('.services-nav').fadeIn();
  } else {
    $('.services-nav').fadeOut();
  }
});

jQuery('.services-nav').on('click', 'div.nav-option', function(e){
  $('html, body').animate({
        scrollTop: $('#sticker').offset().top
    }, 'slow');

  })


</script>
