
  /*-------------------------------------------*/
  
  /*===========================================*/
  
  /*********************************************/
  
  /*Footer Wrappers*/
  
  /*-------------------------------------------*/
  
  .Footer-wrapper {
    position: relative;
    /*Display and Box Model*/
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    /*Color*/
    background-color: black;
    color: white;
  }

  .Footer-wrapper a{
    color: white;
    text-decoration: none;
  }
  
  .Footer {
    position: relative;
    /*Display and Box Model*/
    width: 900px;
    margin: 0 auto;
  }
  
  @media (max-width: 900px) {
    .Footer {
      width: 250px;
    }
  }
  
  @media (max-width: 400px) {
    .Footer {
      width: 65%;
    }
  }
  
  .Footer-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: all.5s ease;
    transition: all 0.5s ease;
  }
  
  /*-------------------------------------------*/
  
  /*Footer Content Styles*/
  
  /*-------------------------------------------*/
  
  [class*="Footer-content"] {
    /*Positioning*/
    position: relative;
    padding: 1.5em 0 1.5em 0;
    /*Display and Box Model*/
    opacity: 1;
    /*Text*/
    text-align: center;
  }
  
  /*Text*/
  
  [class*="Footer-content"] h2 {
    /*Display and Box Model*/
    margin-top: 50px;
    margin-bottom: 5px;
    /*Text*/
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  [class*="Footer-content"] h3 {
    /*Display and Box Model*/
    margin: 0;
    margin-top: 10px;
    /*Text*/
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  [class*="Footer-content"] p {
    /*Display and Box Model*/
    margin: 0;
    margin-top: 15px;
    /*Text*/
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
  
  /*-------------------------------------------*/
  
  /*Footer Responsive Elements*/
  
  /*-------------------------------------------*/
  
  .Footer-mobile-line {
    /*Positioning*/
    position: absolute;
    left: 30%;
    bottom: 0;
    transform: translateZ(0);
    /*Display and Box Model*/
    width: 40%;
    height: 1px;
    margin: 0;
    padding: 0;
    /*Color*/
    background: black;
  }
  
  /*Tablet, Laptops, Desktops*/
  
  @media (min-width: 800px) {
    [class*="Footer-mobile"] {
      visibility: hidden;
    }
    [class*="Footer-content"] {
      padding: 0 2em 0 2em;
    }
    .Footer-content-2 {
      /*Display and Box Model*/
      /*border-left: 1px solid black;*/
      /*Other*/
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }
    .Footer-content-3 {
      /*Display and Box Model*/
      /*border-left: 1px solid black;*/
      /*Other*/
      -webkit-transition-delay: 1s;
      transition-delay: 1s;
    }
  }
  
  .getintouchcontent {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #000;
  }
  /*-------------------------------------------*/
  
  /*===========================================*/
  
  .Grid-cell ul {
    padding: 0;
    margin: 0;
  }
  
  .Grid-cell  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .Grid-cell  ul a {
    margin: 0;
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
  }

  .getintouchcontent {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .fa-facebook,
  .fa-instagram {
    font-size: 20px;
    margin: 10px;
    color: white;
  }