<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <iframe src="http://bcconyc.deco-apparel.com/home/request_quote" width="640" height="1082" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
