<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <main class="page-content" aria-label="Content">
      <div class="quoteBtnContainer">
        <a href="https://www.google.com" target="_blank" style="float:none;">
          <div class="button">
            <p>GET A QUOTE</p>
            <div class="inner"></div>
          </div>
        </a>
      </div>

        {{ content }}

    </main>

    {%- include bottom.html -%}

  </body>

  {%- include scripts.html -%}

</html>
